/*-- reset css -----------------------------------------------------------------------------------*/
* {

    margin:     0;
    padding:    0;
    border:     none;
    box-sizing: inherit;
}

html { font-size: var(--vanilla_HTMLFontSize); }
body { box-sizing: border-box; }

.vanilla ul {
    list-style-type:    none;
}

.vanilla { width: 100%; }

.vanilla, .vanilla * {

    min-width:          0;
    min-height:         0;
    display:            flex;
    flex-wrap:          nowrap;
    align-items:        stretch;
    align-content:      flex-start;
    flex-direction:     column;
    justify-content:    flex-start;
    background-color:   transparent;
    user-select:        none;
    outline:            none;
    cursor:             default;
    font-family:        var(--vanilla_FontFamily);
    font-size:          var(--vanilla_FontSize-Default);
    color:              var(--vanilla_Color-Text);
    
}

/*-- theme -----------------------------------------------------------------------------------*/
.vanilla.theme-dark {
    --vanilla_Color-Background:         var(--vanilla_ThemeDarkColor-Background);
    --vanilla_Color-Border:             var(--vanilla_ThemeDarkColor-Border);
    --vanilla_Color-Text:               var(--vanilla_ThemeDarkColor-Text);

    background-color:                   var(--vanilla_Color-Background);
}

.vanilla.theme-light {
    --vanilla_Color-Background:         var(--vanilla_ThemeLightColor-Background);
    --vanilla_Color-Border:             var(--vanilla_ThemeLightColor-Border);
    --vanilla_Color-Text:               var(--vanilla_ThemeLightColor-Text);

    background-color:                   var(--vanilla_Color-Background);
}

/*-- Scrollbar ---------------------------------------------------------------------------------*/
/* Chrome, Safari, Edge (Webkit) */
.vanilla *::-webkit-scrollbar { 

    display: none;
    width:  var(--vanilla_Scrollbar-Width); 
    height: var(--vanilla_Scrollbar-Width); 
}
.vanilla *::-webkit-scrollbar-track { background: transparent; }

.vanilla *::-webkit-scrollbar-thumb {

    background:     var(--vanilla_Color-Text); 
    border-radius:  var(--vanilla_BorderRadius-Max); 
}

.vanilla *::-webkit-scrollbar-thumb:hover { background: wheat; }

.vanilla .scrollbar {

    position: absolute;
}