.vanilla .seperator {
    background-color: grey;
}

.vanilla .seperator.horizontal {
    width: 80%;
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vanilla .seperator.vertical {
    width: 1px;
    align-self: stretch;
    flex: none !important; 
    background-color: grey ;
    margin-left: 10px;
    margin-right: 10px;
}

.horizontal-items .seperator.horizontal {
    display: none;
}

.vertical-items .seperator.vertical-items {
    display: none;
}