.vanilla .text {

    font-family:                var(--vanilla_FontFamily);
    font-size:                  var(--vanilla_FontSize-Default);
    font-weight:                var(--vanilla_FontWeight-Default);
    color:                      var(--vanilla_Color-Text);
    font-optical-sizing:        auto;
    font-style:                 normal;
    font-variation-settings:    width 100;
}

.vanilla .text.h6 {

    font-size:          var(--vanilla_FontSize-1);
    font-weight:        var(--vanilla_FontWeight-1);
}

.vanilla .text.h5 {

    font-size:          var(--vanilla_FontSize-2);
    font-weight:        var(--vanilla_FontWeight-2);
}

.vanilla .text.h4 {

    font-size:          var(--vanilla_FontSize-3);
    font-weight:        var(--vanilla_FontWeight-3);
}

.vanilla .text.h3 {

    font-size:          var(--vanilla_FontSize-4);
    font-weight:        var(--vanilla_FontWeight-4);
}

.vanilla .text.h2 {

    font-size:          var(--vanilla_FontSize-5);
    font-weight:        var(--vanilla_FontWeight-5);
}

.vanilla .text.h1 {

    font-size:          var(--vanilla_FontSize-6);
    font-weight:        var(--vanilla_FontWeight-6);
}

.vanilla .text.italic { font-style: italic; }

.vanilla .text.size-1 { font-size: var(--vanilla_FontSize-1); }
.vanilla .text.size-2 { font-size: var(--vanilla_FontSize-2); }
.vanilla .text.size-3 { font-size: var(--vanilla_FontSize-3); }
.vanilla .text.size-4 { font-size: var(--vanilla_FontSize-4); }
.vanilla .text.size-5 { font-size: var(--vanilla_FontSize-5); }
.vanilla .text.size-6 { font-size: var(--vanilla_FontSize-6); }

.vanilla .text.weight-1 { font-weight: var(--vanilla_FontWeight-1); }
.vanilla .text.weight-2 { font-weight: var(--vanilla_FontWeight-2); }
.vanilla .text.weight-3 { font-weight: var(--vanilla_FontWeight-3); }
.vanilla .text.weight-4 { font-weight: var(--vanilla_FontWeight-4); }
.vanilla .text.weight-5 { font-weight: var(--vanilla_FontWeight-5); }
.vanilla .text.weight-6 { font-weight: var(--vanilla_FontWeight-6); }
